.header {
    color: rgba(0, 34, 255, 255);
    font-size: 20px;
    -unity-text-align: middle-left;
    background-color: rgba(245, 130, 0, 255);
}

.toggle {
}

.toggle:checked {
    opacity: 0.5;
}

.container2 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 0;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 19px;
    margin-bottom: 19px;
}

.parent {
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
}
